## Topic 6 - Python for Data Analysis : Data Preprocessing with Pandas

# Join

Using two of the dataframes below, answer the questions :

In [ ]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
                   
df2=pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})

In [ ]:
#import libraries here
import pandas as pd

### Create a dataframe (df3) which consists both dataframe inner-joined by column "Key"

In [ ]:
#code goes here
df3 = pd.merge(df1,df2,on='key')
df3

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

### Create a dataframe (df4) which consists of the result of df1 and df2 left-joined by column "Key"

In [ ]:
#code goes here
df4 = pd.merge(df1,df2,on='key', how='left')
df4

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

#### 1. Replace key "K2" into "K3" on df1
#### 2. Left join it with df2

In [ ]:
#code goes here
df1['key']=df1['key'].str.replace('K2','K3')
df1

df5 = pd.merge(df1,df2,on='key', how='left')
df5

  key    B
0  K0   B0
1  K1   B1
2  K3  NaN
3  K3  NaN
4  K4  NaN
5  K5  NaN

# Dataframe Processing

Create a dictionary and convert it to a dataframe called "Customer_df"


name=['Anna','Jason','Cindy']

age=['22','23','21']

gender=['F','M','F']

In [ ]:
#code goes here

Customer_df = {
  "nama" : ['Anna','Jason','Cindy'],
  "age" : [22, 23, 21],
  "gender" : ['F','M','F']
}

newdf = pd.DataFrame(Customer_df)
newdf

    nama  age gender
0   Anna   22      F
1  Jason   23      M
2  Cindy   21      F

### Delete the "age" column

In [ ]:
#code goes here
newdf.drop('age', axis=1)

    nama gender
0   Anna      F
1  Jason      M
2  Cindy      F

### Rename the "name" column into "first name"

In [ ]:
#code goes here
renamed_columns={'nama':'first name'}

newdf = newdf.rename(columns=renamed_columns)
newdf

  first name  age gender
0       Anna   22      F
1      Jason   23      M
2      Cindy   21      F

### Sort the dataframe by age, descending

In [ ]:
#code goes here

newdf.sort_values('age', ascending=False)

  first name  age gender
1      Jason   23      M
0       Anna   22      F
2      Cindy   21      F

## Run the code below for data source and answer the following questions

In [ ]:
import pandas as pd
df=pd.read_csv('http://bit.ly/kaggletrain')

### Show top 10 rows of the dataset

In [ ]:
#code goes here
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Using data aggregation in pandas , Answer the question below:

Show the total amount of passengers who survived and not survived

In [ ]:
#code goes here
df.groupby('Survived').agg({'PassengerId':['count']})

         PassengerId
               count
Survived
0                549
1                342

Show all male survivors from titanic incident

In [ ]:
#code goes here
df[df['Sex']=='male']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Show the average fare paid based on gender

In [ ]:
#code goes here
df.groupby(['Sex']).mean()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Sex,,,,,,,
female,431.028662,0.742038,2.159236,27.915709,0.694268,0.649682,44.479818
male,454.147314,0.188908,2.389948,30.726645,0.429809,0.235702,25.523893

Show the total amount of passengers who survived and not survived based on gender

In [ ]:
#code goes here
df.groupby(['Survived','Sex']).sum()

                 PassengerId  Pclass       Age  SibSp  Parch        Fare
Survived Sex
0        female        35223     231   1603.00     98     84   1864.9752
         male         210189    1159  11382.50    206     97  10277.7447
1        female       100120     447   5683.00    120    120  12101.6876
         male          51854     220   2536.67     42     39   4449.5418